@{
    ViewData["Title"] = "Story Time";
}

<div>
    <h2>Story Harp and Voice Only Video</h2>
    <p>
        These are the current credits for the Harp and Voice only video of Story Time
        that you may be able to find on YouTube. The music for all versions of Story Time to date was done all by me using
        various tools so I won't get into that right now. Here are the current credits
        for the video:
    </p>
    <p>
        <ol>
            <li>Snow Flakes xScreenSaver - Barry Dmytro, Jamie Zawinski</li>
            <li>Saturn Planet - Caitlin Faith Eary and Shawn Eary</li>
            <li>McKenzina Illustration - Kristen Grace Eary</li>
            <li>Lego Art - Lego Corp, Kristen Grace Eary, Caitlin Faith Eary and (maybe) Sarah Hope Eary</li>
            <li>"Actors" - Kristen Grace Eary, Caitlin Faith Eary, Sarah Hope Eary</li>
            <li>Photography - Shawn Eary, Jennifer Eary (Pre 2010)</li>
            <li>Story Time Harp and Voice Music - Shawn Eary producted with Cubase 10.5</li>
            <li>
            Story Time Video Production<br />
                <ol>
                    <li>Kdenlive (free), Jason Wood et al.</li>
                    <li>VokoscreenNG (free), Volker Kohaupt</li>
                    <li>Gimp (free), <b>Spencer</b> Kimball, Peter Mattis, et al.</li>
                    <li>Microsoft Powerpoint (both free and paid versions used)</li>
                </ol>
            </li>
            <li>
            A Little Princess Book - Dr. Arthur Pober (Presumed), Published Sterling Children's Books,
            Original story by Frances Hodgeson Burnett.
            </li>
            <li>
            Big Red Barn Book - Margaret Wise Brown, Illustrated by Felicia Bond, Multiple Publishers
            </li>
            <li>
            My Little Counting Book - Roger Priddy
            </li>
            <li>
            My "k" Book - Jane Belk Moncure, Illustrated Colin King, Published Scholastic
            </li>
            <li>
            Red Train Book - Will Grace, Illustrated Ed Vere, Published Scholastic
            </li>
            <li>
            Credit Music - Shawn Eary 4/4 production of StoryTime with Cubase 10.5 VST Instruments
            with Shawn Eary on Voice and a Tony Dixon PVC flute (toward the end on SoundCloud)
            </li>
            <li>
            Special thanks to Richard Stallman, Linus Torvalds the Debian 11 team and countless other
            OpenSource champions.
            </li>
            <li>
            Special thanks to Dr. Jacob Hertzog and Professor Nikola Radan for their continued
            understanding and I catch up on the many years I lost studying things other than
            music.
            </li>
            <li>
            Special thanks to Google (and many others) for aiding in development of the royalty free VP8/VP9 codecs and
            the free WebM video format.
            </li>
            <li>
            Regretfully, MPEG2 and H264 were unavoidably used during the production process of this video.
            Contanct MPEG-LA if you have concerns. I'm not good enough to make money doing this yet
            and all content was converted to the WebM, VP8/VP9 formats whenever possible.
            </li>
        </ol>
    </p>
    <p>
        All versions of Story Time are (C) 2021,2022 by Shawn Eary.
        All rights are currently reserved. The above passive contributors
        retain all rights to their intellectual property independent of
        any content I may have generated using their tools.
    </p>
    <p>
        I said I wasn't going to introduce circular link depenedencies but here goes anyway...<br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/O4rX_Dthd1A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
</div>
