@{
    ViewData["Title"] = "Story Time";
}

<div>
    <h2>Story Time</h2>
    <p>
        Story Time is a Christian music piece I wrote while studing under
        <a href="https://fulbright.uark.edu/departments/music/faculty-and-staff/index/uid/jhertzog/name/Jacob-Hertzog/">Dr. Jacob Hertzog</a>.
        It's original version was released to SoundCloud on February 14, 2021.
        It consisted of me on vocals and a Tony Dixon plastic Flute with all of
        the other instruments synthesized by Cubase. I think I was using version 10
        of Cubase back then, but I'm not sure. The cereal bowl heart was created by
        Kristen Grace Eary when she was a toddler. Either Jennifer or myself took
        the picture. I don't remember who. You can currently listen to the original
        version of storytime with mostly synthesized instruments here:
    </p>
    <p>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/985373923&color=%23bf7284&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/shawn-eary" title="Shawn Eary" target="_blank" style="color: #cccccc; text-decoration: none;">Shawn Eary</a> · <a href="https://soundcloud.com/shawn-eary/story-time" title="Story Time" target="_blank" style="color: #cccccc; text-decoration: none;">Story Time</a></div>
    </p>
    <p>
        On February 14, 2022, I released a Harp and Voice only video of Story Time,
        while studying under Professor <a href="https://fulbright.uark.edu/departments/music/faculty-and-staff/index/uid/radan/name/Nikola+Radan/">Nikola Radan</a>.
        You may be able to find my public Harp and Voice only video of Story Time on YouTube, but
        searching might be difficult since I'm a beginner musician. I spent a notable time
        working on the video component of the production and credits/errata is listed in 
        @Html.ActionLink("Story Time Video Credits and Errata", "Credits", "StoryTime")
        .
        I will not post a link to that video here, because that might create a recursive link (smirk).
        The music needs improvement but I spend a lot of time working on that video.
    </p>
    <p>
        As always, children need to be monitored whenever they use electronic media,
        Facebook, the internet, etc. If you are a child, make sure you get permission
        from your parents before visiting SoundCloud and/or YouTube. Those platforms
        contain both good and bad elements. Annie Moses Band is an example of good
        wholesome <b>free</b> family friendly content that you can find on Sound Cloud
        and YouTube.
    </p>
    <p>
        As I really don't practice like I should, I will probably never be able to perform
        or compose with the skill level of any of the Annie Moses Band members. I do not
        know any of them but I would like to take my daughters to seem them someday. To
        that effect, I want to dedicate this song by the Annie Moses Band to each of my three daughters:
    </p>
    <p>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/358952369&color=%23a0b82c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/anniemosesband" title="Annie Moses Band" target="_blank" style="color: #cccccc; text-decoration: none;">Annie Moses Band</a> · <a href="https://soundcloud.com/anniemosesband/when-daddy-says-im-beautiful" title="When Daddy Says Im Beautiful" target="_blank" style="color: #cccccc; text-decoration: none;">When Daddy Says Im Beautiful</a></div>
    </p>
    <p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AMxK6VCPAQk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
</div>
