@{
    ViewData["Title"] = "Blog Entry";
}

<!-- MathJAX is needed until IE offers native support for MathML -->
<script type="text/javascript"
        src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<h2>@Model.Title</h2>

@* https://stackoverflow.com/questions/5120645/razor-syntax-equivalent  *@
<p id="body">@Html.Raw(Model.HTML)</p>


