@{
    ViewData["Title"] = "About Shawn";
}

    <h2>Utilars™</h2>
    <p>
        Utilars™ is an unregistered trademark for a sole proprietorship owned and operated by Shawn Eary. This
        unregistered trademark has been used for marketing purposes since 2016-04-06.
    </p>
    <p>
        Many moons ago, this site was originally intended to host works of Art and Science from
        broad audiences; unfortunately, that vision never materialized and it
        mainly contains artwork from Shawn Eary. I am still open to hosting
        Christian (or useful) artwork or science here from other contributors,
        but with the large number of social media platforms these days,
        competition is stiff (smile).
    </p>
    <p>
        The webmaster (Shawn Eary) is a professional programmer with more than 10 years experience.
        Mr. Eary spent about 7 years working as an ASP.NET programmer.  Now he works as a
        Developer at University of Arkansas (Fayetteville).
    </p>
    <div>
        <img src="../../Content/img/shawn2.jpg" alt="Picture of Shawn" />
        <h1>Shawn Eary</h1>
        <img class="MCTS-Logo" style="margin: 8px 8px 8px 8px"
             src="../../Content/img/MCTS(rgb)_1370.png" /><br />
        <img style="margin: 8px 8px 8px 8px"
             src="../../Content/img/MCC11_Logo_Horizontal_Full-color.png"
             width="123" height="50" alt="2011 Microsoft Community Contributor" />
        <br />

        <h3>Community Participation</h3>
        Shawn tries to participate in these forums listed in decreasing order of activity:<br />
        <ul>
            <li><a href="https://stackoverflow.com/users/605006/shawn-eary" target="_blank" />Stack Exchange</a></li>
            <li><a href="https://www.linkedin.com/in/shawn-eary-5616b4a8/y" target="_blank" />LinkedIn</a></li>
            <li><a href="https://github.com/shawn-eary" target="_blank" />GitHub</a></li>
            <li><a href="https://social.msdn.microsoft.com/profile/shawn%20eary/?ws=usercard-inline" target="_blank" />MSDN (Past activity)</a></li>
            <li><a href="https://forums.asp.net/members/Shawn%20Eary.aspx" target="_blank" />ASP.NET (Past Activity)</a></li>
        </ul>
        December 30, 2021 Thought:<br />
        Shawn isn't exactly getting along with Microsoft right now because they are heavily engaged in censoring conservative thought over at MSN.com.
        I Hope Microsoft relents and stops censoring objective and clear thought. Some things should be censored, but factual
        statements that pose no obvious harm to others should not be censored so easily. Censorship is meant to protect certain
        groups of people and that is fine, but when you censor scientific observations, you run the risk of causing more harm
        than good. I don't want to live in a police state where I'm required to show my papers everywhere I go.

        <h3>Accomplishments</h3>
        <ul>
            <li>2021 Ironman Florida Finisher</li>
            <li>2019 Dirty Kanza 200 Finisher</li>
        </ul>

        <h3>Interests (In no particular order)</h3>
        <ol>
            <li>
                The Ultimate and Ever Reaching Grace and Mercy of The Lord Jesus Christ<br />
                <i>[Okay, so maybe this is the most important interest :o) ]</i>
            </li>
            <li>Unmanaged C++</li>
            <li>Music (Primarily Composition)</li>
            <li>
                ASIO and Music Synthesis<br />
                <i>[Particularly Synthesis of Natural Instruments]</i>
            </li>
            <li>Elementary Non-Critical Signal Analysis</li>
            <li>Game Programming</li>
            <li>DirectX</li>
            <li>Self-supported Triathlon</li>
            <li>Model View Controller (MVC)</li>
            <li>
                Windows Azure<br />
                <i>[When the bill can be kept under control :o) ]</i>
            </li>
            <li>Microsoft Code Contracts</li>
            <li>Managed F#</li>
            <li>My three daughters whom I miss</li>
        </ol>
        <br />

        <h3>Disclaimers</h3>
        <ul>
            <li>
                The content of this site in no way reflect the opinions/views of
                and employers/customers he *may* or *may/not* currently have relationships with.
            </li>
            <li>Microsoft is a registered trademark of Microsoft Corporation in the United States and/or other countries.</li>
        </ul>
        <br />
        <br />
        Note: You will probably find bugs on this site.  Contact me and I
        will *try* to get the time to fix them.  I stay pretty busy.
    </div>
    <p>
        To contact Shawn go here:
        @Html.ActionLink("Contact", "Contact", "Home")
    </p>

