@{
    ViewData["Title"] = "Clipart";
}

@*
Copyright 2018-2011 - Shawn Eary
Licensed via FCML
https://www.utilars.com/Home/FCML
*@


    <h2>Clipart</h2>

    <div>
        <p>
            Simple @Html.ActionLink("FCML", "FCML", "Home") licensed images that
            may *possibly* be reused to form more complex images.

        </p>
    </div>
    <div class="generalItem">
        <p>
            Here is a picture that I attempted to draw of a Black Hole.  To be
            honest, I'm not sure anyone actually knows what a black hole looks
            like.  I *think* we are all guessing.  Let me know if someone has
            seen "real universe" light effects of a black hole.
        </p>
        <a href="../../Content/img/blackHole.htm">
            <img src="../../Content/img/tmb-blackHole.png"
                 alt="Black Hole" style="background-color:Black" />
        </a>
        <br />
        <a href="../../Content/img/blackHole.png">
            To Download Black Hole File with Transparency via IE
            (Right Click Here and Choose 'Save Target As')
        </a>
    </div>
    <div class="generalItem">
        <p>
            Here are some images either I or Jennifer took. You will need a
            modern browser to view the WEBP files
            <br />
        </p>

        <p>Butterflies or Moths taken by Shawn Eary</p>
        <a href="../../content/img/brownButterfly.webp">
            <img src="../../Content/img/tmb-brownButterfly.png"
                 alt="Brown Butterfly" />
        </a>

        <a href="../../content/img/orangeBlackButterfly.webp">
            <img src="../../Content/img/tmb-orangeBlackButterfly.png"
                 alt="Orange Butterfly" />
        </a>

        <p>
            Cardinal taken by either myself or my wife on a Kodak EasyShare Z1275
        </p>

        <a href="../../Content/img/cardinal.webp">
            <img src="../../Content/img/tmb-cardinal.png"
                 alt="Orange Butterfly" />
        </a>

        <br />
        <span class="sideNote">(To save a butterfly or cardinal via IE and/or MS Edge, right click on the picture and select Save <b><u>Target</u></b> As)</span>
    </div>

    <div class="generalItem">
        <p>
            An SVG Christmas Tree I drew using my daughter's artwork as a guide:
        </p>

        <a href="https://www.utilars.com/Content/img/ChristmasTree.svg">
            <img src="../../Content/img/tmb-christmasTreeSVG.png"
                 alt="SVG Christmas Tree" />
        </a>
        <br />
        <span class="sideNote">(To save the SVG Source of the Christmas Tree via IE, right click on the tree and select Save Target As)</span>
    </div>

    <div class="generalItem">
        <p>
            A flower that my daughter Kristen Grace Eary drew.  I scanned it and cut the background out
            to turn it into clipart. You are allowed to use the image in your own collective works; however,
            you must provide attribution at a tasteful place within your presentation.  For example, if
            you are using the image to create a PowerPoint presentation, you may crop out the copyright
            notice on the slide you are using the image on but you must provide a credits section at the
            end of your PowerPoint presentation.  Please use good judgement.
        </p>

        <a href="../../Content/img/flower.png">
            <img height="300" src="../../Content/img/flower.png"
                 alt="JPEG XR Flower" />
        </a>
        <br />
        <span class="sideNote">(To save the image, right click on it and choose the Save As option)</span>
    </div>

    <div class="generalItem">
        <p>
            An angel my daughter Kristen Grace Eary drew when she was
            a wee little lassie. Years later, I used GIMP to make a
            simple animation of the wings per:<br />
            Tutorials4view<br />
            How to Create a GIF Animation with Gimp - Tutorials<br />
            <a href="https://www.youtube.com/watch?v=6XiluMiUvVg">https://www.youtube.com/watch?v=6XiluMiUvVg</a><br />
<br />
            DCP Web Designers<br />
            3D Transform Tool GIMP 2.10 Tutorial<br />
            <a href="https://www.youtube.com/watch?v=-FTmqUt2co8">https://www.youtube.com/watch?v=-FTmqUt2co8</a><br />
<br />
            PhotoAdvanced<br />
            Mirror Effect - GIMP 2.8 Tutorial<br />
            <a href="https://www.youtube.com/watch?v=RO6jJQFjhog">https://www.youtube.com/watch?v=RO6jJQFjhog</a><br />
            <br />
            You can see the Grace's angel in action in 
            <a href="https://www.youtube/XneDv9CCL48?t=219">Story Time</a>
        </p>

        <a href="../../Content/img/angel.gif">
            <img height="300" src="../../Content/img/angel.gif"
                 alt="Grace's Angel" />
        </a>
        <br />
        <span class="sideNote">(To save the image, right click on it and choose the Save As option)</span>
    </div>

    <div class="generalItem">
        <a href="../../content/img/israelFlag.gif">
            <img height="300" src="../../content/img/israelFlag.gif"
                 alt="Animated GIF of Israeli Flag" />
        </a>
        <br />
        <span class="sideNote">(To save the image, right click on it and choose the Save As option)</span>

        <p>
        You can see how to create this flag here:<br />
        <iframe width="560" height="315"
        src="https://www.youtube.com/embed/j7DQRQN0OqY?si=adZ_SuOUiMJrjGp-"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
        </p>
    </div>

