<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    FCDL
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
   <h2>FCDL</h2>
   <p>
   FCDL<br />
   Copyright 2011,2010<br />
   Note: This license is in a draft state and is subject to
   change. For more information contact the author Shawn Eary
   </p>
   <p>
   Free Christian Document License (FCDL)
   </p>
   <p>
   The Free Christian Document License is a means for
   Christian Programmers to release “Open Source” code without fear of someone
   disrespecting their religious preferences. Its purpose is to allow Christians
   to publish their Source Code in a manner that will allow scripture and reference
   to the Lord Jesus Christ to stay intact. People who publish documents under the
   FCDL believe that Jesus Christ is that the Lord Jesus is the only way to
   salvation. They further believe that everything they do should be done to honor
   Him.
   </p>
   <p>
   If you receive a document covered under the FCDL, you have the following
   rights regardless of your religious affiliation. You may:
   <ol>
   <li>Make as many copies
   of covered documents that you want as long as the entire covered documents
   including spelling errors, biblical references, citations and author credits are
   kept intact.
   </li>
   <li>Use portions of this document to create your own religiously
   neutral or Christian products provided you properly covered documents.
   </li>
   <li>Charge
   for the distribution of covered documents or for products that were created by
   using portions of covered documents with no obligation to reimburse the authors
   of the covered documents.
   </li>
   </ol>
   </p>
   <p>
   If you are a not a Christian and choose to use a document covered under the FCDL, you are strongly encouraged to respect the
   religious freedom of the author of the document and not do anything that would
   defame him or her or the Lord Jesus Christ.
   </p>
   <p class="warning">
   This license has been deprecated and has been replaced by the <%: Html.ActionLink("FCML", "FCML", "Home")%>
   </p>
</asp:Content>
