@{
    ViewData["Title"] = "FCML";
}

<h2>FCML</h2>
<p>
    FCML<br />
    Copyright 2010<br />
    Note: This license is in a draft state and is subject to change.
    For more information contact the author Shawn Eary
</p>
<p>
    Free Christian Media License (FCML)
</p>
<p>
    The Free Christian Media License is a means for Christian Programmers
    to release their art/music without fear of someone disrespecting
    their religious preferences.   Its purpose is to allow Christian's
    to publish their art in a manner that will allow scripture and
    references to the Lord Jesus Christ to stay intact. The FCML also
    gives publishing the authors the ability to retain original rights
    to published media and an assurance that they will receive credit
    whenever their artwork is used.  People who publish documents under
    the FCML believe that the Lord Jesus Christ is the only way to
    salvation. They further believe that everything they do should be
    done to honor Him.
</p>
<p>
    If you receive a media item covered under the FCML, you have the
    following rights regardless of your religious affiliation. You may:
    <ol>
        <li>Make as many copies of covered media items that you want as long as the entire covered documents including spelling errors, biblical references, citations and author credits are kept intact.</li>
        <li>Use portions of this media item to create your own religiously neutral or Christian products provided you properly cite the documents covered under the FCML.</li>
        <li>Charge for the distribution of covered documents or for products that were created by using portions of covered documents with no obligation to reimburse the authors of the covered documents.</li>
    </ol>
</p>
<p>
    If you are a not a Christian and choose to use a media item covered under the FCML, you are strongly encouraged to respect the religious freedom of the author of the media item and not do anything that would defame him/her or the Lord Jesus Christ.
</p>
