@{
    ViewData["Title"] = "Utilars™";
}

<div>
    <h2>Welcome to Utilars™</h2>
    <p>
        Utilars™ is a site for Christian friendly art and science. The name is derived from the Latin terms Utilis (Useful) and Ars (Art or Science).
    </p>
    <p>
        This site is based upon the retired ConservativeArt and www.arsQuies.com websites. It is a rebranding of the formerly mentioned sites. Admittedly, I've
        neglected this website as I've been pretty busy with other things.
    </p>
    <p>
        I was separated from the most important person in my life on February 12th.
        Even though my spirit is weak, I hope she understands I love her. I still believe
        marriage is for a lifetime. I still wear my wedding ring except when
        swimming in open water.
    </p>
    <p>
        I'm a music student of sorts. I take music classes when I am able.
        That keeps me pretty busy with all of the physical exercises I also do. Would like
        to code more on occasion but I just don't have the time. Sometimes, I fall victim to
        bingeing on <a href="https://en.wikipedia.org/wiki/Sid_Meier#Personal_life" target="_blank">Sid Meier's</a> Civilization. Sid is my hero.
    </p>
</div>
