@{
    ViewData["Title"] = "InformationTechnology";
}

    <h2>InformationTechnology</h2>
    <p>
        All files on this page are licensed under the <%: Html.ActionLink("FCDL", "FCDL", "Home")%>
    </p>
    <p>
        There isn't much here yet.  This is supposed to be a page describing basic observations I have made in Computer Science that have nothing to do with work.
    </p>

    <p>
        Here is a trivial paper on how to possibly speed up Win XP:<br />
        <a href="../../Content/doc/xpSpeedup.pdf" target="_blank">xpSpeedup.pdf</a>
    </p>

    <p>
        Here is a trivial parser in F#.  It was one of my first F# attempts
        and it probably needs some cleanup.  I lost the solution, so I will
        have to go back and recreate it before I can resume working on this:
        <br />
        <a href="../../Content/doc/parser.pdf" target="_blank">F# Parser (PDF)</a>
    </p>

    <p>
        Here is a silly Alpha  SqlHelper in F# I am working on and hope to
        get back to very soon:<br />
        <i>
            Note: There is a bug in the way it handles output parameters from T-SQL
            Procedure calls.  I have fixed the bug, but I haven't had time to post
            the fix.
        </i><br />
        Here are the raw files (not very many ?huh?).  I "may" post pretty
        versions at a later time:<br />
        <a href="../../Content/doc/Sql.fsi.txt" target="_blank">Sql.fsi</a><br />
        <a href="../../Content/doc/Sql.fs.txt" target="_blank">Sql.fs</a>
    </p>

