@{
    ViewData["Title"] = "LinuxBeef";
}

<h2>LinuxBeef</h2>
<p>
    GNU/Linux-Beef<br />
    I currently have a disagreement with
    <a href="http://en.wikipedia.org/wiki/Linus_Torvalds" target="_blank">Linus</a>,
    <a href="http://stallman.org/" target="_blank">RMS</a>,
    <a href="http://www.fsf.org/" target="_blank">FSF</a>,
    <a href="http://en.wikipedia.org/wiki/Unix" target="_blank">AT&T</a>,
    Google and the Linux/UNIX developer world in general.
    While all of these people and organizations are great and honorable, I
    am disturbed by the naming convention used by (GNU/Linux) - UNIX
    Background Drivers.
</p>
<p>
    If you are in a position to do so, please contact
    <a href="http://stallman.org/" target="_blank">RMS</a>,
    <a href="http://en.wikipedia.org/wiki/Linus_Torvalds" target="_blank">Linus</a>,
    <a href="http://www.fsf.org/" target="_blank">FSF</a>
    , Google
    (and anyone else of UNIX influence) and let them know your feelings
    about these inappropriately named background drivers.
</p>
<p>
    Please note that while I *believe* AT&T was one
    (there are likely many more) of the pioneering companies for UNIX, I
    don’t personally know just exactly where this naming convention got
    started.   It should also be noted that while I'm *pretty sure* AT&T still uses UNIX,
    I don’t know if they still play an active role in its development.
    To be honest, I think RMS, Linus and the FSF do more to shape modern
    day UNIX than anyone else in the world.
</p>
<p>
    "Therefore go and make disciples of all nations, baptizing them in the
    name of the Father and of the Son and of the Holy Spirit, and teaching
    them to obey everything I have commanded you.  And surely I am with
    you always, to the very end of the age."  Matthew 28:19-20 (NIV)
</p>
<p>
    <i>
        Disclaimer: I am not claiming to be righteous.  I am a sinner saved
        by the Grace and Blood of the Lord Jesus Christ.  My objections to the
        naming convention solely indicate my preferences and are in no way
        meant to harm or defame those that use/promote products with such
        naming conventions.  Jesus was sent to heal the lost and sick not to
        harm them.<br />
        <br />
        "The Lord is not slow in keeping his promise, as some understand
        slowness.  He is patient with you, not wanting anyone to perish, but
        everyone to come to repentance."  2 Peter 3:9 NIV<br />
    </i>
</p>
<p>
    The above mentioned bible verses are <b>believed</b> to be copyright by:<br />
    <a href="http://en.wikipedia.org/wiki/Zondervan" target="_blank">Zondervan</a>/International Bible Society  (Copyright holders of NIV Bible - I think)
</p>
