@{
    ViewData["Title"] = "Music";
}

<!-- http://blogs.msdn.com/b/ie/archive/2011/05/13/unlocking-the-power-of-html5-lt-audio-gt.aspx -->
<!-- http://phoboslab.org/log/2011/03/the-state-of-html5-audio -->
<h2>Music</h2>
<p>
    Here is some basically free music that has been created by Shawn Eary.
    Most of the MP3's are released under the Free Christian Media License (FCML)
    and the sheet music is released under the free Christian Document License
    (FCDL).
</p>

<div class="musicItem">
    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1134115225&color=%23cd368b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/shawn-eary" title="Shawn Eary" target="_blank" style="color: #cccccc; text-decoration: none;">Shawn Eary</a> · <a href="https://soundcloud.com/shawn-eary/cyber-war" title="Cyber War" target="_blank" style="color: #cccccc; text-decoration: none;">Cyber War</a></div>
</div>

<div class="musicItem">
    <div>
        <a href="../../Content/Music/AmazonMorning.mp3">AmazonMorning.mp3</a><br />
        <audio src="../../Content/Music/AmazonMorning.mp3" controls preload="metadata">
            HTML5 audio not supported
        </audio>
    </div>
    <table>
        <thead>
            <tr>
                <th>Sheet Music</th>
                <th>Author</th>
                <th>Arranged</th>
                <th>Performed By</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Not Currently Available</td>
                <td>Shawn Eary</td>
                <td>N/A</td>
                <td>Synthesized with Cubase4 and EmulatorX2</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="musicItem">
    <div>
        <a href="../../Content/Music/rain.mp3">Rain.mp3</a><br />
        <audio src="../../Content/Music/rain.mp3" controls>
            HTML5 audio not supported
        </audio>
    </div>
    <table>
        <thead>
            <tr>
                <th>Sheet Music</th>
                <th>Author</th>
                <th>Arranged</th>
                <th>Performed By</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="../../Content/Music/Rain-c2008ShawnEary.pdf" target="_blank">Rain.pdf</a></td>
                <td>Shawn Eary</td>
                <td>N/A</td>
                <td>Synthesized</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="musicItem">
    <div>
        <a href="../../Content/Music/sunday_afternoon.mp3">sunday_afternoon.mp3</a><br />
        <audio src="../../Content/Music/sunday_afternoon.mp3" controls preload="metadata">
            HTML5 audio not supported
        </audio>
    </div>
    <table>
        <thead>
            <tr>
                <th>Sheet Music</th>
                <th>Author</th>
                <th>Arranged</th>
                <th>Performed By</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="../../Content/Music/SundayAfternoon-c2008ShawnEary.pdf" target="_blank">Sunday_Afternoon.pdf</a></td>
                <td>Shawn Eary</td>
                <td>N/A</td>
                <td>Synthesized</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="musicItem">
    <div>
        <a href="../../Content/Music/travel_harp.mp3">travel_harp.mp3</a><br />
        <audio src="../../Content/Music/travel_harp.mp3" controls preload="metadata">
            HTML5 audio not supported
        </audio>
    </div>
    <table>
        <thead>
            <tr>
                <th>Sheet Music</th>
                <th>Author</th>
                <th>Arranged</th>
                <th>Performed By</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Not Currently Available</td>
                <td>Shawn Eary</td>
                <td>N/A</td>
                <td>Synthesized</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="musicItem">
    <div>
        <a href="../../Content/Music/silent_night.mp3">silent_night.mp3</a><br />
        <audio src="../../Content/Music/silent_night.mp3" controls preload="metadata">
            HTML5 audio not supported
        </audio>
    </div>
    <table>
        <thead>
            <tr>
                <th>Sheet Music</th>
                <th>Author</th>
                <th>Arranged</th>
                <th>Performed By</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Not Currently Available</td>
                <td><a href="http://en.wikipedia.org/wiki/Josef_Mohr" target="_blank">Josef Mohr</a> & <a href="http://en.wikipedia.org/wiki/Franz_Xaver_Gruber" target="_blank">Franz Xaver Gruber</a></td>
                <td>Shawn Eary</td>
                <td>Harp: Synthesized, PVC Flute: Shawn Eary</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="musicItem">
    <div>
        <a href="../../Content/Music/fallLeaves.mp3">fallLeaves.mp3</a><br />
        <audio src="../../Content/Music/fallLeaves.mp3" controls preload="metadata">
            HTML5 audio not supported
        </audio>
    </div>
    <table>
        <thead>
            <tr>
                <th>Sheet Music</th>
                <th>Author</th>
                <th>Arranged</th>
                <th>Performed By</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Not Currently Available</td>
                <td>Shawn Eary</td>
                <td>N/A</td>
                <td>Flute: Kristen Eary, Harp: Shawn Eary</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="musicItem">
    <div>
        <a href="../../Content/Music/mathBlock.mp3">mathBlock.mp3</a><br />
        <audio src="../../Content/Music/mathBlock.mp3" controls preload="metadata">
            HTML5 audio not supported
        </audio>
    </div>
    <table>
        <thead>
            <tr>
                <th>Sheet Music</th>
                <th>Author</th>
                <th>Arranged</th>
                <th>Performed By</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Forget It</td>
                <td>Shawn Eary</td>
                <td>N/A</td>
                <td>
                    N/A - NOTE: Okay this wild "music" is a bit of a departure from my norm.
                    It's intended to eventually go into a video game but we will see if I ever get time
                    to write that...  For now, you will need to contact me if you want to do anything
                    "special" with the piece.  You can do a whois lookup on my domain name.  The rest
                    of the pieces are licensed via the FCML as previously said.
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="musicItem">
    <div>
        <a href="../../Content/Music/conflicted.mp3">Conflicted.mp3</a><br />
        <audio src="../../Content/Music/conflicted.mp3" controls preload="metadata">
            HTML5 audio not supported
        </audio>
    </div>
    <table>
        <thead>
            <tr>
                <th>Sheet Music</th>
                <th>Author</th>
                <th>Arranged</th>
                <th>Performed By</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Not Available</td>
                <td>Shawn Eary</td>
                <td>Shawn Eary</td>
                <td>
                    Shawn Eary - This Music File is Licensed under the Creative Commons Attribution 4.0 International (CC BY 4.0) License.
                    You can pretty much do what you want with it but I ask that you be reasonable and give me attribution if you like it.  I know
                    It's pretty rough, but hey dude.  It's free and I have a day job and a bicycle race to prepare for...   I think I'm pulling
                    this piece.  I went to reexamine it a few days ago and the beat is so way off I can't hardly do anything with it...
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="musicItem">
    <div>
        <a href="../../Content/Music/expanse.mp3">Expanse.mp3</a><br />
        <audio src="../../Content/Music/expanse.mp3" controls preload="metadata">
            HTML5 audio not supported
        </audio>
    </div>
    <table>
        <thead>
            <tr>
                <th>Sheet Music</th>
                <th>Author</th>
                <th>Arranged</th>
                <th>Performed By</th>
                <th>License</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Not Available</td>
                <td>Shawn Eary</td>
                <td>Shawn Eary</td>
                <td>Shawn Eary</td>
                <td><a href="https://www.utilars.com/Home/FCML">FCML</a></td>
            </tr>
        </tbody>
    </table>
    <p>
        I think I'm mostly done with this piece.  The ending is a bit hoaky,
        but at this point, I will maybe only make minor changes.
        I'm inexperienced with mixing, but the mix was improved some from the first
        time this piece was put out here.  The audio mixdown went better this time
        than it did last time.  Interestingly, a few "accidents" went my way when
        I revisted the Cubase project.  I know I'm inexperienced, but I thank the Lord Jesus
        for those accidents as they turned out to be blessings.  Not sure I have
        what it takes, but the "accidents" made my day a little better :-)<br />
        <br />
        BTW: I'm *still* having serious family problems...
    </p>
</div>

<div class="musicItem">
    <div>
        <a href="https://soundcloud.com/shawn-eary/solitude-a2">Solitude</a><br />
    </div>
    <table>
        <thead>
            <tr>
                <th>Sheet Music</th>
                <th>Author</th>
                <th>Arranged</th>
                <th>Performed By</th>
                <th>License</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Not Available</td>
                <td>Shawn Eary</td>
                <td>Shawn Eary</td>
                <td>Shawn Eary</td>
                <td><a href="https://www.utilars.com/Home/FCML">FCML</a></td>
            </tr>
        </tbody>
    </table>
    <p>
        I'm still working on this.<br />
    </p>
</div>



<div class="musicItem">
    <div>
        <p>
            Turn the volume down a bit before listening this this.<br />
            As the name implies, it's pretty cheesy (and maybe obnoxious); however, I still feel
            it was in interesting academic exercise...
        </p>
        <a href="../../Content/Music/cheese.wav">Cheese.wav</a><br />
        <audio src="../../Content/Music/cheese.wav" controls preload="metadata">
            HTML5 audio not supported
        </audio>
    </div>
    <table>
        <thead>
            <tr>
                <th>Sheet Music</th>
                <th>Author</th>
                <th>Arranged</th>
                <th>Performed By</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://github.com/shawn-eary/HMM/blob/master/apps/cheese/cheese.hs">https://github.com/shawn-eary/HMM/blob/master/apps/cheese/cheese.hs</a></td>
                <td>Shawn Eary</td>
                <td>Shawn Eary</td>
                <td>A Haskell Program that Shawn Eary wrote</td>
            </tr>
        </tbody>
    </table>
    <p>
        This WAV File was generated from a Haskell program I wrote.  The
        Haskell Program is licensed under the <a href="https://mit-license.org/">MIT License</a>
        so I guess the WAV file should be MIT Licensed also.  To get the latest version
        of the wavefile, you can download the full project at:
        https://github.com/shawn-eary/HMM
        and compile and runthe source yourself if you want.  Maybe you will
        become a Haskeller!!! (smile)
    </p>
</div>

<div class="musicItem">
    It's possibly you may find more things by me (or my daughters) on SoundCloud:
    <a href="https://soundcloud.com/shawn-eary">https://soundcloud.com/shawn-eary</a>
    I don't always keep this website up to date.
</div>

<p>
    Disclaimer:<br />
    This website does not currently generate any revenue for it's owner...<br />
    <br />
</p>

