@{
    ViewData["Title"] = "Pictures";
}

<h2>Pictures</h2>
<p>All pictures on this page are Copyright by Shawn Eary, Jennifer Eary and/or family and are licensed under the Free Christian Media License (@Html.ActionLink("FCML", "FCML", "Home")).</p>
<br />
<p>Pastry Dish my wife made back in July 4th, 2008</p>
<span class="sideNote">
    To view the full sized image, you must have a modern browser that supports WebP
</span>
   </p>
<a href="../../Content/img/starWallpaper.webp">
    <img src="../../Content/img/tmb-starWallpaper.jpg" alt="Star Biscuit Wallpaper" />
</a>

<br />
<p>Mommy and Baby bird taken in our front yard:</p>
<span class="sideNote">
    To view the full sized image, you must have a modern browser that supports WebP
</span>
   </p>
<a href="../../Content/img/mommyAndBaby.webp">
    <img src="../../Content/img/tmb-mommyAndBaby.jpg" alt="Birds in our Front Yard" />
</a>

<p>
    This was taken at the Dallas Arboretum</a><br />
    <span class="sideNote">
        To view the full sized image, you must have a modern browser that supports WebP
        NOTE: Jennifer and I do not necessarily agree with every display
        at the Dallas Arboretum; however, we felt that this particular
        picture was family friendly.
    </span>
</p>
<a href="../../Content/img/arborLavender.webp">
    <img src="../../Content/img/tmb-arborFlowers.jpg" alt="Flowers at Dallas Arboretum" />
</a>
<br />
<p>
    Here are a couple of mallard pictures my wife and/or I got lucky with around 2005.  They were taken a "long" time
    ago back when we where visiting the Myriad Botanical Gardens in OKC<br />
    (If you are near OKC please visit them)
</p>
<a href="../../Content/img/mallard-turned.jpg">
    <img src="../../Content/img/tmb-mallard-turned.jpg" alt="mallard-turned" />
</a>
<a href="../../Content/img/mallard-straight.jpg">
    <img src="../../Content/img/tmb-mallard-straight.jpg" alt="mallard-straight" />
</a>
<p>
    The mallard pictures were taken so long ago, I don't remember if it was my wife or myself that took them, but
    we still enjoy them to this day.

</p>

<p>Jennifer took these in 2012</p>
<a href="../../Content/img/orangeFlower.jpg">
    <img src="../../Content/img/tmb-orangeFlower.jpg" alt="Orange Flower" />
</a>
<a href="../../Content/img/eagle.jpg">
    <img src="../../Content/img/tmb-eagle.jpg" alt="Eagle" />
</a>
<a href="../../Content/img/deer.jpg">
    <img src="../../Content/img/tmb-deer.jpg" alt="Deer" />
</a>

<p>I took this in 2012 at the OKC Zoo</p>
<a href="../../Content/img/bird.jpg">
    <img src="../../Content/img/tmb-bird.jpg" alt="Some Bird" />
</a>

<p>I don't know what this is, but I took it in the front yard of a place I used to live at:</p>
<a href="../../Content/img/unknownFlowerThree.jpg">
    <img src="../../Content/img/tmb-unknownFlowerThree.jpg" alt="Another Unknown Flower" />
</a>

<p>Here is a rose:</p>
<a href="../../Content/img/rose.jpg">
    <img src="../../Content/img/tmb-rose.jpg" alt="Rose" />
</a>

<p>Here is a picture of a Lorikeet that either my wife or I took at the OKC Zoo in 2010 (I'm pretty sure my wife took the picture since I was pretty busy dodging the Lorikeet crossfire - if you know what I mean...):</p>
<a href="../../Content/img/lorikeet.jpg">
    <img src="../../Content/img/tmb-lorikeet.jpg" alt="Lorikeet" />
</a>

<p>Here is a picture of a turtle from the Botanical Gardens mentioned above:</p>
<a href="../../Content/img/turtle.jpg">
    <img src="../../Content/img/tmb-turtle.jpg" alt="turtle" />
</a>
<p>Here are several other pictures that my wife and I took around the 2004/2005 timeframe:</p>
<p>A 2004 Oklahoma/Texas Classic from a the local <a href="http://www.fws.gov/southwest/refuges/oklahoma/wichitamountains/" target="_blank">Wildlife Refuge </a> (Please Visit)</p>
<a href="../../Content/img/longHorn.jpg">
    <img src="../../Content/img/tmb-longHorn.jpg" alt="Longhorn" />
</a>
<p>Jennifer took this picture.  She took it at the wildlife refuge:</p>
<a href="../../Content/img/lizard.jpg">
    <img src="../../Content/img/tmb-lizard.jpg" alt="Lizard" />
</a>
<p>Taken at the wildlife refuge mentioned above.  If you know what they are, send me and email an let me know.   Home/About Shawn.</p>
<a href="../../Content/img/unknownFlower.jpg">
    <img src="../../Content/img/tmb-unknownFlower.jpg" alt="Unknown Flower" />
</a>
<a href="../../Content/img/unknownBiggerFlower.jpg">
    <img src="../../Content/img/tmb-unknownBiggerFlower.jpg" alt="Unknown Bigger Flower" />
</a>
<p>"Mountain" scenes from the Wildlife Refuge mentioned above:</p>
<a href="../../Content/img/wildDaisies.jpg">
    <img src="../../Content/img/tmb-wildDaisies.jpg" alt="Wild Daisies" />
</a>
<a href="../../Content/img/wildlifeMountains.jpg">
    <img src="../../Content/img/tmb-wildlifeMountains.jpg" alt="Wildlife Mountains" />
</a>
<a href="../../Content/img/blueSky.jpg">
    <img src="../../Content/img/tmb-blueSky.jpg" alt="Blue Sky" />
</a>
<a href="../../Content/img/mountainShot.jpg">
    <img src="../../Content/img/tmb-mountainShot.jpg" alt="Mountain Shot" />
</a>
<p>Here are some colorful trees:</p>
<a href="../../Content/img/colorfullTrees.jpg">
    <img src="../../Content/img/tmb-colorfullTrees.jpg" alt="Colorful Tree" />
</a>
<p>Here is a windy road:</p>
<a href="../../Content/img/windyRoad.jpg">
    <img src="../../Content/img/tmb-windyRoad.jpg" alt="Windy Road" />
</a>
<p>A sunset at the wildlife refuge:</p>
<a href="../../Content/img/wildlifeSunset.jpg">
    <img src="../../Content/img/tmb-wildlifeSunset.jpg" alt="Wildlife Sunset" />
</a>
<p>Here is a Mimosa Tree picture I took on a really cool looking night.   It might make for a good theme bar in supporting internet browsers but remember that it is c2005 by Shawn Eary released under the <%: Html.ActionLink("FCML", "FCML", "Home")%></p>
<a href="../../Content/img/mimosa.jpg">
    <img src="../../Content/img/tmb-mimosa.jpg" alt="Mimosa Banner" />
</a>
<p>Here are some really fluffy clouds:</p>
<a href="../../Content/img/bumpyClouds.jpg">
    <img src="../../Content/img/tmb-bumpyClouds.jpg" alt="Fluffy Clouds" />
</a>
<p>Here is a similar picture with a different sunset shade:</p>
<a href="../../Content/img/fluffycloudsAndTree.jpg">
    <img src="../../Content/img/tmb-fluffycloudsAndTree.jpg" alt="Fluffy Clouds and Tree" />
</a>
<p>"... See how the lilies of the field grow.  They do not labor or spin. Yet I tell you that not even Solomon in all his splendor was dressed like one of these."  Matthew 6:28-29 (NIV)</p>
</asp:Content>
