@{
    ViewData["Title"] = "Stories";
}

    <h2>Stories</h2>

    <div class="generalItem">
        Stories by Kristen Grace Eary (<a target="_blank" href="https://www.instagram.com/kristen_eary/">https://www.instagram.com/kristen_eary/</a>)<br /><br />

        <embed src="../../content/Stories/girlRainbow.pdf" width="600px" height="400px" /><br />

        <a href="../../content/Stories/girlRainbow.pdf">
            The Girl and the Rainbow (Download Here)
        </a>
    </div>

    <div class="generalItem">
        Stories Written and Illustrated Shawn Eary<br />
        Featuring Select Artwork from<br />
        <ol>
        <li>Kristen Grace Eary (<a target="_blank" href="https://www.instagram.com/kristen_eary/">https://www.instagram.com/kristen_eary/</a>)</li>
        <li>Sarah Hope Eary</li>
        <li>Caitlin Faith Eary</li>
        <li>Vitalij Ryndin (<a target="_blank" href="https://github.com/crashmax-dev">https://github.com/crashmax-dev</a>)</li>
        <li>et al.</li>
        </ol>

        <embed src="../../content/Stories/MaxOnTheMoonPrintableNoDRM.pdf" width="600px" height="400px" /><br />
        <a href="../../content/Stories/MaxOnTheMoonPrintableNoDRM.pdf">
            Max on The Moon (Download Here)
        </a>
    </div>
