@{
    ViewData["Title"] = "Stories";
}

    <h2>Stories</h2>

    <p>
        Stories by Kristen Grace Eary<br />
        <a href="../../Content/Stories/girlRainbow.pdf">
            The Girl and the Rainbow
        </a>
    </p>
