<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    UsedCarLot is Gone
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
   <h2>UsedCarLot is Gone</h2>
   <p>
   Sorry folks.  I had to axe the Used Car Lot App I put on CodePlex.  I 
   didn't have enough time to properly devote to it so it suffered pains
   of serious neglect.  I was hoping I would eventually have time to get to 
   it but I never did.  I made a backup of it in case I ever want to go 
   back to it again but for now, I need to pull it because I simply don't 
   have time to implement it correctly.  I'm got some interesting and 
   intensive professional development training that I'm hoping to embark 
   on for the next several months so I won't have much time for anything 
   else.  Also, I still have a day job and wonderful family :-)
   </p>   
</asp:Content>
