@{
    ViewData["Title"] = "Values";
}

    <h2>Values</h2>

    <p>
        <a href="https://www.utilars.com">https://www.utilars.com</a> is presently a hobby site for Shawn Eary
        and formerly his family.
    </p>

    <p>
        Shawn Eary "tries" to present the following core
        set of values to his family:<br />
        <i>
            Some of these ideals are a no-brainer for me, however, I fall
            short of some of them on a regular basis...<br />
            (If you want, you can pray for me though)<br />
        </i>
    </p>

    <ol>
        <li>
            That <u><b>Jesus Christ</b></u> is the one true <u><b>God</b></u> and the <u><b>only way to salvation</b></u>.
            (John 14:6)
        </li>
        <li>
            That Jesus has come to redeem <u><b>ALL</b></u> of us to repentance.
            (1 John 1:9)(2 Peter 3:9)
        </li>
        <li>That life begins at conception</li>
        <li>
            That religious institutions should be allowed to set their own
            policies regarding contraceptive health care
        </li>
        <li>
            That no one should be forced or coerced to take medications or vaccinations that they do not want.
        </li>
        <li>
            That no one should be discriminated against or penalized for refusing to consume medications
            or vaccinations that they feel are either unsafe or go against their religious convictions.
        </li>
        <li>
            That nurturing the traditional family will go a long way toward reviving
            struggling economies
        </li>
        <li>
            That for-profit gambling poses an undue burden on those that are less
            fortunate
        </li>
        <li>
            That Christians should pray daily about the needs around them
            (James 1:27)
        </li>
        <li>
            That is it better to pray for world leaders than it is to complain
            about them<br />
            (I'm having a really hard time with this one right now since I'm strongly opposed to vaccine mandates)
        </li>
        <li>
            That Art and Science should be created and disseminated in such a manner
            that it honors The Lord Jesus Christ (Colossians 3:17)
        </li>
        <li>
            That in an ideal world marriage is supposed to be between one man and one
            woman under death do them part.<br />
            <a href="https://en.wikipedia.org/wiki/Fireproof_(film)">https://en.wikipedia.org/wiki/Fireproof_(film)</a><br />
            I still love Jennifer and I'm trying really hard to hold out despite my sinful ways.<br />
        </li>
    </ol>

