@{
    ViewData["Title"] = "Thank you";
}

<div>
    <h2>Support Utilars™</h2>
    <p>
    Utilars™ is a for profit sole proprietorship of Shawn Eary. The 
    mission of Utilars™ is to encourage the spread of art and science
    that honors the Lord Jesus Christ. Below are some ways you can
    help Utilars™ with its mission:
    </p>
    <p>
        <ol>
        <li>
        Tell others about Utilars™
        </li>
        <li>
        Donate or enter into a royalty contract with Utilars™ regarding
        art or science for which you hold uncontested rights
        </li>
        <li>
        Provide pro bono legal consultation
        </li>
        <li>
        Buy one of our <a href="https://www.amazon.com/s?i=mobile-apps&rh=p_4%3AUtilars&search-type=ss">Amazon Fire</a> apps
        </li>
        <li>
        Donate via PayPal
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="C7A2S8JFU57CL" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
        </ol>
    <i>NOTE: Utilars™ is a for-profit business. Donations are <b>not</b> tax deductible. 
    The business owner reserves the right to distribute accepted donations in any
    manner deemed fit after business expenses and tax obligations are addressed.</i>
    </li>
    </p>



</div>
